
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title {{$title}}
    %link{:href => "{{ URL::asset('css/bootstrap.min.css') }}", :rel => "stylesheet"}/
    %link{:href => "{{ URL::asset('css/main.css') }}", :media => "all", :rel => "stylesheet"}/
    %link{:href => "{{ URL::asset('css/slider.css') }}", :media => "all", :rel => "stylesheet"}/
    %link{:href => "{{ URL::asset('css/slick.css') }}", :media => "all", :rel => "stylesheet"}/
    %link{:href => "{{ URL::asset('css/slick-theme.css') }}", :media => "all", :rel => "stylesheet"}/
    %link{:href => "{{ URL::asset('css/projects.css') }}", :media => "all", :rel => "stylesheet"}/
    %link{:href => "{{ URL::asset('css/cover.css') }}", :rel => "stylesheet"}/
    %script{:src => "{{ URL::asset('js/modernizr.custom.37797.js') }}"}
    %script{:src => "{{ URL::asset('js/main.js') }}"}
    %script{:src => "{{ URL::asset('js/slick.min.js') }}"}
    %script{:src => "{{ URL::asset('js/slider.js') }}"}
    %script{:src => "https://code.jquery.com/jquery-2.2.0.min.js", :type => "text/javascript"}
    %script{:src => "https://raw.github.com/morr/jquery.appear/master/jquery.appear.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    :javascript
      !window.jQuery && document.write('<script src="/js/jquery-1.6.1.min.js"><\/script>')
  %body
    %a{:name => "top"}
    .masthead.clearfix
      .inner
        .masthead-brand
          .brandImg
            %img{:alt => "", :src => "img/kaf-logo.png"}/
          .brandName
            %a{:href => "/"}
              %h4
                {{$header_title}}
        %a{:href => "auth/login"}
          .login Войти
        /
    .site-wrapper
      .site-wrapper-left
        .left-menu
          .left-menu-item
            .left-menu-img
              %img{:alt => "home", :src => "img/home.png"}/
            %a{:href => "/"} {{$main}}
          .left-menu-item
            .left-menu-img
              %img{:alt => "projects", :src => "img/project.png"}/
            %a{:href => "/projectsPage"} {{$projects}}
          .left-menu-item
            .left-menu-img
              %img{:alt => "group", :src => "img/group.png"}/
            %a{:href => "/developers"} Разработчики
      .site-wrapper-inner
        .cover-container
          .cover
            %h1.cover-heading Библиотека проектов кафедры ИС.
            %p.lead
              Данный сайт посвящен учебной и исследовательской деятельности кафедры "информационные системы" Севастопольского государственного университета.
        .container.marketing
          .row.featurette
            .col-md-7
              %h2.featurette-heading
                Аудиторные помещения.
                %span.text-muted С новейшим оборудованием.
              %p.lead
                Аудитории кафедры просторные, светлые, оснащены новейшими техническими средствами, позволяющие выполнять сложные задачи.
            .col-md-5
              %img.featurette-image.img-responsive{:alt => "Generic placeholder image", :src => "img/small/classroom1.jpg"}/
          .row.featurette
            .col-md-5
              %img.featurette-image.img-responsive{:alt => "Generic placeholder image", :src => "img/small/teach1.jpg"}/
            .col-md-7
              %h2.featurette-heading
                Преподавательский состав.
                %span.text-muted Лучшая квалификация.
              %p.lead
                Каждый преподаватель на кафедре разносторонен и профессионален как в своей основной специализации, так и в смежных областях.
          .row.featurette
            .col-md-7
              %h2.featurette-heading
                Оборудование
                %span.text-muted Остается только позавидовать.
              %p.lead
                Оборудование, которое находится в собственности кафедры - это компьютеры с мощнейшей начинкой, мониторы с высоким разрешением, оборудование для геосистем, 3Д-сканеры.
            .col-md-5
              %img.featurette-image.img-responsive{:alt => "Generic placeholder image", :src => "img/small/eq1.jpg"}/
          %footer
            %p.pull-right
              %a{:href => "#top"} Наверх
            %p
              © 2018 СевГУ, ИС. ·
              %a{:href => "#"} Все права защищены
              ·
              %a{:href => "#"} Севастополь
        .mastfoot

