
/* Links */
a{
  color: #dcdcdc;
}
a:focus,
a:hover {
  color: #EFB22D;;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    overflow-y: auto;
  height: 100%;
/*  width: 100%; */
}
body {
  color: #dcdcdc;

}

.search{
  padding-right: 100px;
  display: flex;
  align-content: center;
    align-items: center;
}

input[type=text] {
   width: 130px;
/*   position: sticky; */
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}

.site-wrapper {
  display: flex;
  flex-flow: row;
  height: auto; /* For at least Firefox */
  min-height: auto;
  justify-content: safe;
/*   flex-grow: 1; */
  
}
.site-wrapper-inner {
  display: flex;
     z-index: 5;
  flex-flow: column;
  flex-grow: 1;
  width: 100%;
  z-index: 1;
}

 .site-wrapper-left{
   display: flex;
        flex-flow: column;
        justify-content: flex-start;
    align-content: : center;
        background-color: #262a37;
    box-shadow: 5px 5px 10px rgba(23, 26, 34,0.8);
   flex-grow:4;
    }

    .left-menu{
      margin-top: 50px;
        display: flex;
        flex-flow: column;
     
      padding: 5px;
/*         margin-top: 300px; */
    }
    .left-menu-item{
        display: flex;
        padding: 10px;
      align-items: center;
    }

#filter_form{
  display: inline;
}

.left-menu-img{
      justify-content: center;
        align-items: center;
}
.left-menu-img img{
    width: 20px;
    height: 20px;
    filter: invert(70%);
/*   padding: 5px; */
  margin: -18px 5px;
        align-items: center;
  
}

.cover-container {
  display: flex;
  margin-right: auto;
  flex-flow: column;
  margin-left: auto;
  height:auto;
  width: 100%;
  flex: 1 1;
}
.cover .lead{
    max-width: 660px;
    text-align: center;
}

.lead{
text-align: justify;
    margin-top: 20px;

}
/* Padding for spacing */
.inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
  background-color: #262a37;
    justify-content: space-between;
/*    justify-content:  */
  padding: 10px;
/*   width: 100%; */
}

.brandName{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 20px;
    
}

/*
 * Header
 */
.masthead-brand {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row;
align-content: flex-end;  
 margin: 10px 25px;
    width: auto;
  right: 0;
}

.brandImg{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-height: 60px;
    max-width: 60px;
    margin: 0 10px;
    
}
/* 
.masthead-nav > li {
  display: inline-block;
} */
/* .masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
/*   color: rgba(255,255,255,.75); */
/*   border-bottom: 2px solid transparent; */
 */

.left-menu-item .active > a,
.left-menu-item .active >a :hover,
.left-menu-item .active >a :focus {
  color: #EFB22D;
  font-weight: 100;
/*   border-bottom-color: #EFB22D; */
}

@media (min-width: 768px) {
  .masthead-brand {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
      justify-content: flex-end;
  }
  .masthead-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
      justify-content: flex-end;
  }
}


/*
 * Cover
 */

.cover {
    margin: 20px 20px;
  padding: 10px 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  border-radius: 10px;
   background-color: #415bbd;
}

.cover-heading{
    color: #FFC84F;
    font-size: 250%;
    text-align: center;
}
/*
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
*/


/*----IMAGE -----*/
.featurette-image{
     border-radius: 10px; 
   /*! padding: 10px; */ 
  
 max-width: 300px;
 max-height: 300px;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  .masthead {
    top: 0;
  }
  .mastfoot {
    position: sticky;
    bottom: 0;
  }
   /* Start the vertical centering */
   .site-wrapper-inner {
     display: flex; 
     flex-flow: column; 
/*! width: inherit; */
  } 
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container 
  {
/*     width: 100%; /* Must be percentage or pixels for horizontal alignment */ */
  }
}

@media (min-width: 1100px) {
  .masthead,
  .mastfoot,
  .cover-container 
  {
max-width: 100%;
   
  }
}