/*  Цвет текста #BAD6FD
*/
* {
/*    font-family: AaarghRegular;*/
}


#content {
    /* margin: 100px; */
    /*  margin-top: 200px;*/
    padding: 0;
    min-width: 100%;
    min-height: inherit;

}

/* #content article{ */
/* max-width: 1042px; */
/* } */


div #project {
    margin: 10px;
    background-color: #262a37;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
/*     padding: 10px; */
}

.bcground {
    border-radius: 5px;
    z-index: 1;
    /*  background: #f7f5f3;*/
    /* background: rgba(255,255,255,.1);*/
}

#project {
    /*  border: 2px solid yellow;*/
    border-radius: 10px;
    /* margin-top: 0px; */
    margin-bottom: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    /*padding: 20px;*/

}

.project_title{
padding: 10px;
}

.project_tags{

    background-color: #dcdcdc;
}
.project_content_bg{
    background-color: #20232e;
    width: inherit;
       box-shadow: inset 0 0 10px -5px #000000;
}
.projects_list {
    width: auto;
    padding: 10px;
    z-index: 5;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
    font-size: 130%;
    color: white;
    justify-content: center;

}

.project_title a {
    display: flex;
justify-content: center;
    font-size: 130%;

}

.project_content {
/*     background-color: #20232e */
    margin: 25px;
    width: 300px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: baseline;
}

.project_text {
    margin: 20px 0 0 0;
    width: 300px;
    color: #dcdcdc;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    text-align: justify;
    text-indent: 1.5em;
}

.project_img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    max-width: 300px;
    max-height: 300px;
    /*  padding: 20px;*/
    margin: auto;
}

.project_img img {

    max-width: 250px;
    width: expression(this.width > 500 ? "500px": this.width);
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
}

.project_img img:hover {
    filter: drop-shadow(0 0 10px #364da6);
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
}

/* -------   Для страницы отдельного проекта ---------*/


.projectBody,
.projectImgContainer,
.projectImg,
.projectText {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.projectBody {
    align-content: center;
    flex-flow: column;
    background-color: #262a37;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}

.projectBody p{
margin: 30px 0;
    text-indent: 1.5em;
    font-size: 110%;
}
.projectText {
    width: 80%;
    text-align: justify;
    margin: auto;
    font-size: 110%;
}

.projectImgContainer {
    margin-top: 50px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.projectImg {
    margin: 10px;
    max-width: 300px;
    max-height: 300px;

}

.projectImg img {
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
}

li {
    list-style-type: circle;
}



.featurette-divider {
    margin: 10px 0;
    /* Space out the Bootstrap <hr> more */
    /*    width: auto;*/
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}



/*-------  участники    -------*/



/* Center align the text within the three columns below the carousel */
.memberList,
.memberItem,
.memberImg,
.memberText,
.memberDesc,
.memberName {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.memberContainer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    background-color: #262a37;
    border-radius: 10px;
    width: auto;
}
.memberList {
    margin-top: 30px;
    flex-flow: row;
    justify-content: center;
    background-color: #20232e;
    padding: 20px;
    box-shadow: inset 0 0 10px -5px #000000;
}

.memberItem {
    width: 350px;
    margin: 10px;
    flex-flow: column;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.memberImg {
    width: 140px;
    height: 140px;
    display: flex;
    /*    justify-content: center;*/
    align-items: center;
    align-self: center;
    border-radius: 50%;
    margin-bottom: 20px;
}

.memberImg img {
    border-radius: 50%;
}

.memberName {
    font-size: 130%;
    justify-content: center;
    color: #EFB22D;
}

@font-face {
    font-family: "AaarghRegular";
    src: url("../fonts/Aaargh/AaarghRegular/AaarghRegular.ttf");
}

.pagination li{
    list-style-type: none;
    float: left;
    margin-left: 10px;
}
.pagination li span {
    color: #000;
}
.pagination li a {
    color: #000;
    text-decoration: none;
}
